In [8]:
import pandas as pd
import numpy as np

In [23]:
# Load the “cleaned” outputs of your script
so = pd.read_csv('../data/cleaned/so_survey_cleaned.csv')
li = pd.read_csv('../data/cleaned/linkedin_cleaned.csv')

In [24]:
# Shape & dtypes
print("SO shape:", so.shape)
print(so.dtypes)

print("LinkedIn shape:", li.shape)
print(li.dtypes)

# Peek at a few rows
so.head()
li.head()

SO shape: (597, 32)
ResponseId                                                                          int64
MainBranch                                                                         object
Age                                                                                object
Employment_Status                                                                  object
CodingActivities                                                                   object
EdLevel                                                                            object
DevType                                                                            object
Country                                                                            object
LearnCode_Other_online_resources_(e.g.,_videos,_blogs,_forum,_online_community)     int64
LearnCode_On_the_job_training                                                       int64
LearnCode_Books___Physical_media                                                    int64
LearnCode_School_(i.e.,_University,_College,_etc)                                   int64
LearnCode_Online_Courses_or_Certification                                           int64
LearnCode_Other                                                                     int64
LanguageHaveWorkedWith_Python                                                       int64
LanguageHaveWorkedWith_SQL                                                          int64
LanguageHaveWorkedWith_Bash_Shell_(all_shells)                                      int64
LanguageHaveWorkedWith_JavaScript                                                   int64
LanguageHaveWorkedWith_HTML_CSS                                                     int64
LanguageHaveWorkedWith_Other                                                        int64
DatabaseHaveWorkedWith_PostgreSQL                                                   int64
DatabaseHaveWorkedWith_Microsoft_SQL_Server                                         int64
DatabaseHaveWorkedWith_SQLite                                                       int64
DatabaseHaveWorkedWith_MySQL                                                        int64
DatabaseHaveWorkedWith_Snowflake                                                    int64
DatabaseHaveWorkedWith_Other                                                        int64
PlatformHaveWorkedWith_Amazon_Web_Services_(AWS)                                    int64
PlatformHaveWorkedWith_Microsoft_Azure                                              int64
PlatformHaveWorkedWith_Google_Cloud                                                 int64
PlatformHaveWorkedWith_Databricks                                                   int64
PlatformHaveWorkedWith_Digital_Ocean                                                int64
PlatformHaveWorkedWith_Other                                                        int64
dtype: object
LinkedIn shape: (604, 7)
JobTitle              object
location              object
State                 object
normalized_salary    float64
work_type             object
pay_period            object
DevType               object
dtype: object

,JobTitle,location,State,normalized_salary,work_type,pay_period,DevType
0,Technical Business Analyst,"Albany, NY",NY,70000.0,CONTRACT,YEARLY,Data or business analyst
1,Senior Data Engineer/Analyst - Full Time,"California, United States",CA,216320.0,FULL_TIME,HOURLY,Data engineer
2,Senior Machine Learning Research Engineer,San Francisco Bay Area,CA,250000.0,FULL_TIME,YEARLY,Data scientist or machine learning specialist
3,Azure Data Engineer (Full Time),"Arlington, VA",VA,120000.0,FULL_TIME,YEARLY,Data engineer
4,"Senior Data Analyst - Ai Training (Remote, Con...",United States,Nationwide,114400.0,CONTRACT,HOURLY,Data scientist or machine learning specialist

In [19]:
from ydata_profiling import ProfileReport
profile = ProfileReport(so, title="SO Survey Profile", explorative=True)

In [20]:
profile.to_file("so_survey_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 32/32 [00:00<00:00, 200.56it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [25]:
profile2 = ProfileReport(li, title="LinkedIn Postings Profile", explorative=True)

In [26]:
profile2.to_file("li_posting_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 7/7 [00:00<00:00, 578.32it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]